.logo {
  font-size: 20px;
	margin: 0px;
	margin-top: -8px;
  float: left;
}

.navigation {
	width: 1060px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid red;
}

.main-nav {
	padding-top: 30px;
}

ul.nav-list {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
  color: white;
  float: right;
 
}



ul.nav-list:after {
  content: "";
  clear: both;

}

ul.nav-list li {
	display: inline;
	padding-left: 10px;
  padding-right: 10px;
}

.anav {
	text-decoration: none;
}
.anav:hover {
  color: #CCAC55;
  text-decoration: none;

}