body {
	font-family: Arial;		
	font-size: 21px;
}

.logo {
	font-weight: bold;
  font-size: 20px;
	float: left;
	margin-left: 5%;
	color: rgb(115, 7, 216);
}

.navigation {
	width: 70%;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
  border-bottom: 2px solid red;
}

.main-nav {
	padding-top: 30px;
}

ul.nav-list {
	margin-top: 0.5%;
	font-size: 16px;
  color: rgb(0, 0, 0);
  float: right;

}

ul.nav-list:after {
  content: "";
  clear: both;

}

ul.nav-list li {
	display: inline;
	margin-left: 1rem;
}

.anav {
	text-decoration: none;
}

.anav:hover {
  color: #CCAC55;
  text-decoration: none;
}

.main-content {
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 5%;
}

.main-left {
	float: left;
	margin-left: 25%;
	text-align: center;
	width: 20%;
}

.main-right {
	float: right;
	margin-right: 25%;
	text-align: center;
	width: 20%;
	margin-bottom: 10%;
}

input[type=text], input[type=password] {
	width: 95%;
	padding: 15px;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity:1;
}


.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

.main-form {
	border:1px solid #ccc;
	margin-left: 15%;
	margin-right: 15%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


.footer-panel {
	clear: both;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	border-top: 2px solid red;
}

.footer-nav {
	padding-top: 1%;
}

.footer-copyright {
	float: left;
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-left: 5%;
}
img {
	width: 15%;
}	