
.logo {
	font-weight: bold;
  font-size: 20px;
	margin: 0px;
	margin-top: -8px;
	float: left;
	color: rgb(115, 7, 216);
}

.navigation {
	width: 1060px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid red;
}

.main-nav {
	padding-top: 30px;
}

ul.nav-list {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
  color: rgb(0, 0, 0);
  float: right;
 
}

ul.nav-list:after {
  content: "";
  clear: both;

}

ul.nav-list li {
	display: inline;
	padding-left: 10px;
  padding-right: 10px;
}

.anav {
	text-decoration: none;
}
.anav:hover {
  color: #CCAC55;
  text-decoration: none;

}

.main-content {
	position: absolute;
	text-align: center;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 500px;

}

.main-text {
	width: 50%;
}

footer {
	position: absolute;
	right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.footer-panel {
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
	border-top: 2px solid red;
}

.footer-nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-copyright {
	float: left;
	color: rgb(0, 0, 0);
	height: 20px;
	line-height: 20px;
	margin-right: 20px;
	font-size: 20px;


}